@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- HEADER ---- */

.title {
  @apply text-6xl md:text-8xl cursor-pointer;
}

.your-exhibits-button {
  @apply bg-transparent hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-1 px-2 border border-gray-500 hover:border-transparent rounded;
}

/* ---- HOME ---- */

.dropdown {
  @apply bg-transparent hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded w-full mt-2;
}

.dropdown-menu {
  @apply absolute left-1/2 transform -translate-x-1/2 mt-3 w-48 bg-white border border-gray-200 rounded shadow-md z-50;
}

.dropdown-menu-item {
  @apply block cursor-pointer px-4 py-2 text-gray-800 hover:bg-gray-200;
}

/* ---- SEARCH BAR ---- */

.container {
  @apply py-4 md:w-96;
}

.search-input {
  @apply w-full pr-10 pl-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent;
}

.search-button {
  @apply absolute inset-y-0 right-0 pr-3 flex items-center;
}

/* ---- PAGECHANGE ---- */

.page-button {
  @apply bg-transparent hover:bg-gray-500 text-gray-700 font-bold hover:text-white hover:border-transparent shadow-lg rounded;
}

.page-number {
  @apply flex items-center font-semibold;
}

/* ----  OBJECT CARD ---- */

.card {
  @apply bg-gray-100 rounded overflow-hidden shadow-md cursor-pointer relative;
}

.badge {
  @apply bg-white text-xl rounded-full p-1 font-bold right-0 top-0 mr-2 mt-2 absolute;
}

.missing-image {
  @apply w-full h-32 object-cover;
}

.image {
  @apply w-full h-32 object-cover;
}

/* ---- EXHIBIT OBJECT ---- */

.exhibit-object-image {
  @apply w-full object-cover md:w-60;
}

.exhibit-object-missing-image {
  @apply w-full object-cover md:w-60;
}

.exhibit-object-button {
  @apply bg-transparent hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded;
}

/* ---- ERROR PAGE ---- */

.return-home-button {
  @apply bg-transparent hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded;
}
